<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    syntaxCheck="false"
    processIsolation="false"
    strict="false"
    backupGlobals="false"
    backupStaticAttributes="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnSkipped="false"
    stopOnIncomplete="false"
    bootstrap="../bootstrap.php">

    <testsuites>
        <testsuite name="EntityMarshal">
            <directory>EntityMarshal</directory>
            <directory>EntityMarshal/Converter</directory>
            <directory>EntityMarshal/Definition</directory>
            <directory>EntityMarshal/Marshal</directory>
            <directory>EntityMarshal/RuntimeCache</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src/</directory>
            <exclude>
                <file>../src/EntityMarshal/Utils.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log
            type="coverage-html"
            target="../public/coverage"
            title="EntityMarshal"
            charset="UTF-8"
            yui="true"
            highlight="true"
            lowUpperBound="35"
            hisghLowerBound="70"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <!--<log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>-->
    </logging>
</phpunit>
